.App {
  text-align: center;
  margin:auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

rdElement{
  
  color:black;
}
.CardHeader{
 
  color:var(--primary-text);
  font-weight: 900;

}
.Card{
  background-color: var(--card-bg);
  padding:1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
  border-radius: 10px;
  padding: 20px;
  color:var(--primary-text);
  width: min(500px,45vw);
  margin-bottom: 20px;
  opacity: 0.8;
  transition: 0.15s;
  box-sizing: border-box;
  margin:4%;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: rgba(255, 255, 255, .15);  
}
.CardImage{
  min-height: 200px;
  width: min(400px,40vw);
  padding: 20px;
}
.Card:hover{
  transform: scale(1.1);

}
.Card a{
  overflow: wrap;
  text-decoration: none;
}
.card-a{
  text-decoration: none;
}
@media (max-width:600px)
{
  .Card{
      margin: auto;
      margin-top:10%;
      margin-bottom:10%;
      width: 90%;
  }
}
.card-content{
  font-weight: bold;
  color:black;
  padding:1rem;

}
.Card a{
  color:var(--primary-color);
  
}
.card-content{
  text-align: center;
}
html{

}.gauge {
  position: relative;
  border-radius: 50%/100% 100% 0 0;
  background-color: var(--color, #a22);
  overflow: hidden;
  margin:auto;
}
.gauge:before{
  content: "";
  display: block;
  padding-top: 50%;   /* ratio of 2:1*/
}
.gauge .chart {
overflow: hidden;
}
.gauge .mask {
position: absolute;
left: 20%;
right: 20%;
bottom: 0;
top: 40%;
background-color: #fff;
border-radius: 50%/100% 100% 0 0;
opacity: 1;
}

.gauge .percentage {
  position:  absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: -1px;
  background-color: var(--background, #aaa);
  transform:rotate(var(--rotation)); 
  transform-origin: bottom center; 
  transition-duration: 0.15;
  --rotation: 180deg;
}
.gauge:hover {
--rotation: 100deg;
}
.gauge .value {
position:absolute; bottom:0%; left:0;   
width:100%; 
text-align: center;
}

.gauge .min {
position:absolute; 
bottom:0; left:5%;   
}
.gauge .max {
position:absolute; 
bottom:0; right:5%;   
}


.guage{

  width: 200px; --rotation:83deg; --color:#5cb85c; --background:#e9ecef;
}

.alert{

margin:auto;
margin-bottom: 2rem;
padding:1rem;
border-radius:5px;
box-shadow:0 0 15px 5px #ccc;
background-color: red;
color:whitesmoke;
}

.styled-table {
  border-collapse: collapse;
  margin:auto;
  width: 80%;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #e60041;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {

}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #0b005b;
}